<!DOCTYPE html>
<html lang="en">
  <head style="display: block">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Odfi!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style id="style-competition" contenteditable="true" style="bottom:0px; position:fixed;">
      /* Style competition, who can make it the prettiest?! Mail your submission here -> msand ( at ) abo.fi */
      body, header, h1, .alert {
        padding: 0;
        margin: 0;
      }

      body {
        padding-bottom: 5em;
      }

      .content, nav, header, main {
        padding: 1em;
      }

      nav {
        border-bottom: 1px solid gray;
      }

      .bottom-nav {
        border-top: 1px solid gray;
      }

      .proposition li {
        list-style-type: upper-roman;
      }

      .proposition-list li {
        list-style-type: none;
      }

      .results {
        width: 50%;
        border: 0 solid black;
        background: white;
        padding:10px;
      }

      .results div {
        background: lightblue;
        position: relative;
        left: 50%;
      }

      nav ul {
        margin: 0;
        padding: 0;
      }

      nav li {
        display: inline;
        margin: 0 10px 0 0;
      }

      a {
        color: #111151;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
      }

      a:visited {
        color: #3d3d3d;
      }

      .bottom-nav a {
        display: block;
        margin-bottom: 1em;
      }

    </style>
  </head>

  <body>
    <div class="container">
      <div id="elm-target"></div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <nav class="bottom-nav">
        <a href="/">Voting SPA interface</a>
        <a href="/propositions">Propositions creation REST-ful interface</a>
        <button onclick="var el = document.getElementById('style-competition'); el.style.display = el.style.display === 'block' ? 'none' : 'block'">Style competition</button>
      </nav>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
