<h2>Edit option</h2>

<%= render "form.html", changeset: @changeset,
                        action: proposition_option_path(@conn, :update, @proposition, @option) %>

<%= link "Back", to: proposition_option_path(@conn, :index, @proposition) %>
