<h2>Listing options</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Proposition</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for option <- @options do %>
    <tr>
      <td><%= option.name %></td>
      <td><%= option.proposition_id %></td>

      <td class="text-right">
        <%= link "Show", to: proposition_option_path(@conn, :show, @proposition, option), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: proposition_option_path(@conn, :edit, @proposition, option), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: proposition_option_path(@conn, :delete, @proposition, option), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New option", to: proposition_option_path(@conn, :new, @proposition) %>
<%= link "Back", to: proposition_path(@conn, :show, @proposition) %>