<h2>New option</h2>

<%= render "form.html", changeset: @changeset,
                        action: proposition_option_path(@conn, :create, @proposition) %>

<%= link "Back", to: proposition_option_path(@conn, :index, @proposition) %>
