<h2>Show option</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @option.name %>
  </li>

  <li>
    <strong>Proposition:</strong>
    <%= @option.proposition_id %>
  </li>

</ul>

<%= link "Edit", to: proposition_option_path(@conn, :edit, @proposition, @option) %>
<%= link "Back", to: proposition_option_path(@conn, :index, @proposition) %>
