<h2>Edit proposition</h2>

<%= render "form.html", changeset: @changeset,
                        action: proposition_path(@conn, :update, @proposition) %>

<%= link "Back", to: proposition_path(@conn, :index) %>
