<h2>Listing propositions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for proposition <- @propositions do %>
    <tr>
      <td><%= proposition.name %></td>
      <td><%= proposition.description %></td>
      <td><%= proposition.user_id %></td>

      <td class="text-right">
        <%= link "Show", to: proposition_path(@conn, :show, proposition), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: proposition_path(@conn, :edit, proposition), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: proposition_path(@conn, :delete, proposition), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New proposition", to: proposition_path(@conn, :new) %>
<%= link "Back", to: page_path(@conn, :index) %>
