<h2>Show proposition</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @proposition.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @proposition.description %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @proposition.user_id %>
  </li>

</ul>

<%= link "Options", to: proposition_option_path(@conn, :index, @proposition) %>
<%= link "Edit", to: proposition_path(@conn, :edit, @proposition) %>
<%= link "Back", to: proposition_path(@conn, :index) %>
