<h2>Show vote</h2>

<ul>

  <li>
    <strong>Vote:</strong>
    <%= @vote.vote %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @vote.user_id %>
  </li>

  <li>
    <strong>Proposition:</strong>
    <%= @vote.proposition_id %>
  </li>

  <li>
    <strong>Option:</strong>
    <%= @vote.option_id %>
  </li>

</ul>

<%= link "Edit", to: vote_path(@conn, :edit, @vote) %>
<%= link "Back", to: vote_path(@conn, :index) %>
